video {
    object-fit: cover;
    width: 100%;
    height: auto%;
    position: fixed;
    z-index: -1;
}
.landing-text {
    padding-top: 150px;
    padding-left: 20px;
    opacity: 1;
    
}
.landing-header {
    position: relative;
    top: 70px;
    left: 200px;
    width: 30%;
    height: 500px;
    
}

.landing-text h1 {
    font-size: 8rem;
    font-weight: bolder;
    color: #fff;
    text-align: left;
    
}
.landing-text  h3,h6 {
    color: #fff;
    text-align: left;

}

