.container {
    margin-top: 100px;
}
.newarrival {
    background-color: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.col-md-7 h2 {
    color: #555
}
.price {
    color: #fe980f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;

}
.cart {
    background-color: #fe980f;
    color: #ffff;
    font-size: 15px;
   
}