.cart-page {
    margin: 80px auto;

}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info {
    display: flex;
    flex-wrap: wrap;

}
th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #efb010;
    font-weight: bold;
}
td {
    padding: 10px 5px;

}
td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a {
    color: gray;
    font-size: 12px;

}
td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price {
    display: flex;
    justify-content: flex-end;

}
.total-price table {
    border-top: 3px solid black;
    width: 100%;
    max-width: 400px;
}
td:last-child {
    text-align: right;
}
th:last-child {
    text-align: right;
}
@media only screen and (max-width: 600px) {
    .cart-info p{
        display: none;
    }
}